// ========================================
// VARIABLES
// ========================================


$text-color: #0f181d !default;
$brand-color: #f3b931 !default;
$light-blue: #4face1 !default;
$mid-blue: #1c2d36 !default;
$dark-blue: #152229 !default;
$grey: #acb6be !default;


/// Container's maximum width
$max-width: 1280px !default;
