// ========================================
// BUTTON
// ========================================

.btn {
  display: inline-block;
  border: 3px solid transparent;
  padding: 16px;
  
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
}

.btn-warning {
  color: #fff;
  border-color: $brand-color;
  background-color: $brand-color;

  &:hover {
    border-color: mix(black, $brand-color, 5%);
    background-color: mix(black, $brand-color, 5%);
  }
}

.btn-outline-warning {
  color: $brand-color;
  border-color: $brand-color;

  &:hover {
    background-color: $brand-color;
    color: #fff;
  }
}

.btn-outline-dark {
  color: #0f181d;
  border-color: #0f181d;

  &:hover {
    background-color: #0f181d;
    color: #fff;
  }
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;

  &:hover {
    background-color: #fff;
    color: $brand-color;
  }
}