// ========================================
// FOOTER
// ========================================

.page-footer {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: $dark-blue;

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-row {
  display: flex;
  flex-warp: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: 560px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  @media (min-width: 1000px) {
    align-items: flex-end;
  }
}

.footer-logo {
  flex: none;
  width: 112px;
  height: 69px;
  margin-right: 20px;
  margin-bottom: 8px;
}

.footer-row > * {

  @media (max-width: 999.98px) {
    margin-bottom: 30px;
  }
}

.page-footer .nav {

  @media (max-width: 999.98px) {

  }
}

.page-footer {

  .nav-li {
    @media (max-width: 999.98px) {
      margin-left: 0;
    }
  }

  .nav-item {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 999.98px) {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 13px;
    }
  }

  .nav-item::after {
    content: none;
  }
}

.footer-contacts {
  flex: none;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: $grey;

  @media (min-width: 1000px) {
    align-self: center;
  }
}

.footer-socials {
  font-size: 0;
  text-align: right;
}

.footer-socials--inner {
  margin-top: 20px;

  @media (min-width: 1000px) {
    display: none;
  }
}

.footer-socials--outer {
  display: none;
  
  @media (min-width: 1000px) {
    display: block;
  }
}

.footer-socials__item {
  display: inline-block;

  &:not(:first-child) {
    margin-left: 35px;
  }
}

.footer-socials__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #434c50;
  text-align: center;
  text-decoration: none;

  &::before {
    color: #676f74;
    font-family: FontAwesome;
    font-size: 22px;
    line-height: 40px;
    display: inline-block;
    transition: color 0.15 ease-in-out;
  }

  &:hover::before {
    color: #fff;
  }

  &.socials-vk::before {
    content: "\f189";
  }

  &.socials-instagram::before {
    content: "\f16d";
  }

  &.socials-youtube::before {
    content: "\f16a";
  }
}

.footer-applications {
  margin-top: 35px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  color: $grey;
  text-align: center;
}